<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index.css">
    <title>Market</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="logo">Market</div>
                <nav>
                    <a href="/login" class="nav__link">Войти</a>
                    <a href="/register" class="nav__link">Регистрация</a>
                    <a href="/market" class="nav__link">Объявления</a>
                </nav>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="container">
            <div class="content__text">
                <h1>Опробуй сейчас</h1>
                <h2>Все абсолютно бесплатно!</h2>
                <a href="/market">БЕСПЛАТНО</a>
            </div>
        </div>
    </div>
</body>
</html>